<h2 mat-dialog-title>Patch Product</h2>
<mat-dialog-content class="mat-typography">

    {{productToAdd | json}}

  <form class="example-form">
    

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product name</mat-label>
      <input type="name" matInput
             placeholder="Ex. Samsung S21"
            [(ngModel)] = "productToAdd.name"
            name = "name" 
            #name
            required
            minlength="3">
            <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">Name is required</span>
              <span *ngIf="name.errors.minlength">Name must be at least 3 characters long</span>
            </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product vendor</mat-label>
      <input type="email" matInput
             placeholder="Ex. Samsung"
                        [(ngModel)] = "productToAdd.vendor"
                        name = "vendor" #vendor 
                        required
                        minlength="1">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product price</mat-label>
      <input type="email" matInput
             placeholder="Ex. 20000"
                        [(ngModel)] = "productToAdd.price"
                        name = "price" #price
                        required>
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product image url</mat-label>
      <input type="email" matInput
             placeholder="Ex. https://adnoandoad/adanmpd"
                        [(ngModel)] = "productToAdd.imageUrl"
                        name = "imageUrl" #imageUrl
                        required>
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial
  (click)="patchProduct()">Patch</button>
</mat-dialog-actions>