<h2 mat-dialog-title>Update Product</h2>
<mat-dialog-content class="mat-typography">


  <form class="example-form">
    

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product name</mat-label>
      <input type="name" matInput
             placeholder={{this.data.product.name}}
             [(ngModel)] = "productToUpdate.name"
             [ngClass]="{'example-is-valid': name.valid && (name.dirty || name.touched),
                         'example-is-invalid': name.invalid && (name.dirty || name.touched)}"
            name = "name" 
            #name="ngModel"
            required
            (keyup.enter)="onSubmit()"
            minlength="3">
            <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">Name is required</span>
              <span *ngIf="name.errors.minlength">Name must be at least 3 characters long</span>
            </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product vendor</mat-label>
      <input type="email" matInput
             placeholder={{this.data.product.vendor}}
             [(ngModel)] = "productToUpdate.vendor"
                        name = "vendor" #vendor 
                        required
                        (keyup.enter)="onSubmit()"
                        minlength="1">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field
    appearance="outline"
    class="example-full-width">
      <mat-label>Product price</mat-label>
      <input type="email" matInput
             placeholder={{this.data.product.price}}
             [(ngModel)] = "productToUpdate.price"
                        name = "price" #price
                        (keyup.enter)="onSubmit()"
                        required>
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Product image url</mat-label>
      <input type="email" matInput
             placeholder={{this.data.product.imageUrl}}
             [(ngModel)] = "productToUpdate.imageUrl"
                        name = "imageUrl" #imageUrl
                        (keyup.enter)="onSubmit()"
                        required>
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="patchProduct()"
  >Patch</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="updateProduct()" type="submit"
  >Update</button>
</mat-dialog-actions>