<h2 mat-dialog-title>Update Product</h2>
<mat-dialog-content class="mat-typography">


  {{productToUpdate | json }}
  <form class="example-form">
    

    <mat-form-field class="example-full-width">
      <mat-label>Product name</mat-label>
      <input type="email" matInput
             placeholder="Ex. Samsung S21"
             [(ngModel)] = "productToUpdate.name"
                        name = "name">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Product vendor</mat-label>
      <input type="email" matInput
             placeholder="Ex. Samsung"
             [(ngModel)] = "productToUpdate.vendor"
                        name = "vendor">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Product price</mat-label>
      <input type="email" matInput
             placeholder="Ex. 20000"
             [(ngModel)] = "productToUpdate.price"
                        name = "price">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Product image url</mat-label>
      <input type="email" matInput
             placeholder="Ex. https://adnoandoad/adanmpd"
             [(ngModel)] = "productToUpdate.imageUrl"
                        name = "imageUrl">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="updateProduct()">Update</button>
</mat-dialog-actions>