<p>
    <mat-toolbar color="basic">
      <a
      [routerLink]="['']" 
      mat-fab
      color="basic"
      aria-label="Example icon-button with menu icon"
      style="margin-right: 20px; height: 35px; width: 35px;">
        <mat-icon>home</mat-icon>
      </a>

      <a 
      [routerLink]="['/products']"
      mat-raised-button
      aria-label="Example icon-button with menu icon"
      style="margin-right: 20px;">
        <mat-icon>inventory_2</mat-icon>Products
      </a>

      <a
      [routerLink]="['/user-profile']" 
      *ngIf="login.isLoggedIn()"
      mat-raised-button
      aria-label="Example icon-button with menu icon"
      style="margin-right: 20px;">
        <mat-icon>person</mat-icon>Profile
      </a>

      <a
      *ngIf="login.isLoggedIn()"
      [routerLink]= "['/user-products']"
      mat-raised-button
      aria-label="Example icon-button with heart icon">
        <mat-icon>checklist</mat-icon>Bucket
      </a>
      <!-- <span>Products</span> -->
      <span class="example-spacer"></span>
      <a
      *ngIf="!login.isLoggedIn()"
      [routerLink]="['/login']"
      mat-raised-button
      aria-label="Example icon-button with heart icon"
      style="margin-right: 20px;">
        <mat-icon>login</mat-icon>Authenticate
      </a>

      <a
      *ngIf="!login.isLoggedIn()"
      [routerLink]="['/signup']"
      mat-raised-button
      aria-label="Example icon-button with share icon"
      style="margin-right: 20px;">
        <mat-icon>app_registration</mat-icon>Join
      </a>

      <a
      (click) = "logout()"
      *ngIf="login.isLoggedIn()"
      [routerLink]="['/signup']"
      mat-raised-button
      color="warn"
      aria-label="Example icon-button with share icon"
      style="margin-right: 20px;">
        <mat-icon>logout</mat-icon>DeAuthenticate
      </a>

    </mat-toolbar>
  </p>