<div class="bootstrap-wrapper">
    <div class = "container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/signuplogo.png"/>
                </div> 

                <h1 class="text-center">Sign Up Here</h1>
                <form>
                    <mat-form-field class = "full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Enter Here" />
                    </mat-form-field>

                    <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Here" />
                      </mat-form-field>

                      <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter Here" />
                      </mat-form-field>

                      <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Here" />
                      </mat-form-field>

                      <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput placeholder="Enter Here" />
                      </mat-form-field>

                      
                      <mat-form-field class = "full-width" appearance="outline">
                        <mat-label>User Type</mat-label>
                        <input matInput placeholder="Enter Here" />
                      </mat-form-field>
                      
                      
                    
                </form>
                
            </div>
        </div>
    </div>
</div>