.product-image{
    width: 150px;
    height: auto;

}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Optional: set a fixed height for the image container */
  }
  