<h2 mat-dialog-title>Update Password</h2>
<mat-dialog-content class="mat-typography">


  <form class="example-form">


    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Old Password</mat-label>
      <input type="name" matInput
             [(ngModel)] = "userPassChangeReq.oldPassWord"
             name = "oldPassWord"
            required #oldPassWord
            type = "password"
            (keyup.enter)="updateUserPassword()"
            >
            <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">Name is required</span>
              <span *ngIf="name.errors.minlength">Name must be at least 3 characters long</span>
            </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>New Password</mat-label>
      <input type="name" matInput

             [(ngModel)] = "userPassChangeReq.newPassWord"
             name = "newPAssWord"
            required #newPassWord
            type = "password"
            minlength="8"
            (keyup.enter)="updateUserPassword()">

            <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">Name is required</span>
              <span *ngIf="name.errors.minlength">Name must be at least 3 characters long</span>
            </mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field 
    appearance="outline"
    class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input type="name" matInput

             [(ngModel)] = "userPassChangeReq.confirmPassWord"
             name = "confirmPassWord"
            required #confirmPassWord
            type = "password"
            (keyup.enter)="updateUserPassword()"
            >
            <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name.errors.required">Name is required</span>
              <span *ngIf="name.errors.minlength">Name must be at least 3 characters long</span>
            </mat-error> -->
    </mat-form-field>


  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial 
  (click) = "updateUserPassword()"
  [disabled]="!oldPassWord.value || !confirmPassWord.value || !confirmPassWord.value"
  type = "submit"
  >Change</button>
</mat-dialog-actions>