<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                Menu
            </div>
            <div class="col-md-6">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla ut explicabo, natus quam recusandae sequi minus a maiores assumenda delectus? Nam quia sed minus quibusdam laborum, amet culpa numquam totam beatae perferendis voluptatem. Voluptate!
            </div>

        </div>

    </div>
</div>
